@media (max-width:1000px) {
    .section-1 {
        flex-direction: column;
    }
    .section-2 {
        flex-direction: column;
    }
     
}

@media (max-width: 600px) {
    .portada .img-hs-portada { width: 300px;
     height: 350px ;
    }
        section article div .texto-contacto {
            border: solid 1px rgb(255, 255, 255);
            padding: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 15px;
            font-family: 'Times New Roman', Times, serif;
            width: 200px;
            margin: 100px;
        }
        .section-1 .texto-1  { font-size: 12px;
            margin-top: 5px;
    }

    .portada-2 .img-1d {
        width: 200px;
        height: 270px;
    }
    .section-2 .texto-2 {
        font-size: 12px;
        margin-top: 5px;
    }
    
}

@media (max-width:500px) {
    .Cont-Grillas {
    height: 450px;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1;
    grid-template-rows: repeat(8,1fr);
    }
    .Cont-Grillas img {
        width: 120px;
        height: 120px;
    }
  
}

@media (min-width: 320px) and (max-width:800px) {
    .Cont-Grillas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,1fr);
    column-gap: 15px;
    row-gap: 20px;
    height: fit-content;
    justify-items: center;
    }   
    
}

@media (min-width: 500px) and (max-width: 1000px)
{
    
    .Cont-Grillas .grilla-img7 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .Cont-Grillas .grilla-img8 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .Cont-Grillas .grilla-img4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .Cont-Grillas img {
        width: 150px;
        height: 150px;
    }
    
} 

@media (min-width: 800px) {
    .album{
        flex-direction: row;
    }

    .cancion{
        flex-direction: row;
    }
    
}
