@media (max-width:600px) {
    .section-1 .texto-1  { font-size: 12px;
        margin-top: 5px;
}
}

@media (max-width: 1000px) {
    .section-1 {
        flex-direction: column;

    }
}


@media (max-width: 600px) {
    .portada .img-hs-portada { width: 300px;
     height: 350px ;
    }
}

@media (max-width:600px) {
    section article div .texto-contacto {
        border: solid 1px rgb(255, 255, 255);
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        width: 200px;
        margin: 100px;
    }
}

@media (max-width:500px) {
    .Cont-Grillas {
        width: 40%;
    height: 450px;
    border: 2px ;
    display: grid;
    margin: 50px; 
    margin-top: 10px;
    grid-template-columns: repeat(2,120px) ;
    grid-template-rows: repeat(4,120px);
    column-gap: 15px;
    row-gap: 5px;
    }
}

@media (max-width: 500px) {
    .Cont-Grillas img {
        width: 120px;
        height: 120px;
    }
}
@media (min-width: 500px) and (max-width:1000px) {
    .Cont-Grillas {
        width: 40%;
    height: 550px;
    border: 2px ;
    display: grid;
    margin: 50px; 
    grid-template-columns: repeat(4,150px) ;
    grid-template-rows: repeat(3,150px);
    column-gap: 15px;
    row-gap: 20px;
    }
}

@media (min-width: 500px) and (max-width:1000px){
    .Cont-Grillas .grilla-img7 {
        grid-column: 3/4;
        grid-row: 3/4;
    }
}

@media (min-width: 500px) and (max-width:1000px){
    .Cont-Grillas .grilla-img8 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

@media (min-width: 500px) and (max-width:1000px){
    .Cont-Grillas .grilla-img4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

@media (min-width: 500px) and (max-width:1000px){
    .Cont-Grillas img {
        width: 150px;
        height: 150px;
    }
} 