
//IMPORT index
@import "index"; 
//IMPORT navbar
@import "navbar"; 
//IMPORT footer
@import "footer"; 
//IMPORT grillas
@import "grillas"; 
//IMPORT diseño-responsive
@import "diseño-responsive"; 

*{
    margin: 0;
    padding: 0;
    list-style-type:none ;
    box-sizing: border-box;
}

/*General*/


body {
    min-height: 100vh;
} 
// cuestionario pagina contacto 
body main .cuestionario form {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 50px;
    padding: 0px;
}

/* header{
    height: 100px;
    width: 100%;
    background-color: rgb(252, 246, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


 /*General*/
